services:
  mongodb:
    image: mongo:8.2.3
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db
    networks:
      - auth-network
    restart: unless-stopped
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s

  redis:
    image: redis:8.4.0
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    networks:
      - auth-network
    restart: unless-stopped
    command: redis-server --appendonly yes
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s

volumes:
  mongodb_data:
  redis_data:

networks:
  auth-network:
    driver: bridge
